

<span class="arrowBox">
    <span (click)="navigateBack()" class="dashboardLink">
        <img src="../../../assets/images/left.png">&nbsp;
        <span class="dashboardtext">Dashboard</span>
    </span> &nbsp;
      <strong>/</strong>&nbsp;
    <span>Route_1</span>
</span>
<main class="mainBox">
    
        
    <div class="innerBox1">
        <div class="innerBox2">
            <div class="innerBox3">
                <div class="innerBox4">
                    <div class="innerBox5">
                        <div class="innerBox6">
                            <div class="textBox">
                                <h1>Welcome to Publicis Sapient !</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</main>