
<span class="arrowBox">
    <span (click)="navigateBack()" class="dashboardLink">
        <img src="../../../assets/images/left.png">&nbsp;
        <span class="dashboardtext">Dashboard</span>
    </span> &nbsp;
      <strong>/</strong>&nbsp;
    <span>Route_4</span>
</span>


<main class="countDownContainer">
    <div class="countdownDiv">
        <app-countdown-timer-four ></app-countdown-timer-four>
    </div>
    
    <div class="countdownDiv">
        <app-start-pause-four></app-start-pause-four>
    </div>
    
    <div class="countdownDiv">
        <app-time-stamp-four></app-time-stamp-four>
    </div>

    <div class="countdownDiv">    
        <app-click-count-four></app-click-count-four>
    </div>
      
</main>